<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CloudSim</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="container">
      <strong class="logo">CloudSim☁️</strong>
      {% if session.get('email') %}
      <form method="POST" action="{{ url_for('logout') }}">
        <button class="btn btn-outline-danger">Logout</button>
      </form>
      {% endif %}
    </div>
  </nav>

  <!-- Flash messages -->
  <main class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="flash">
          {% for category, message in messages %}
          <div class="alert {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>
</body>
</html>